# Day - 5

# Dictionary in Python

In [ ]:
a = {
    "apple" : "apple is a fruit",
    "ball" : "ball is played"
}

``` python
{
    key:value
}
```

In [ ]:
type(a)

dict

In [ ]:
num = {
    1: "one",
    2: "two",
    2.5 : "two",
    3 : "three",
    4: 4,
    5: [88, 77, 9]
}

In [ ]:
type(num)

dict

In [ ]:
country = {
    "Nepal": "Kathmandu",
    "India": "New Delhi",
    "China": "Beijing"
}

In [ ]:
type(country)

dict

## accessing the values of a dictionary key

In [ ]:
country["Nepal"]

'Kathmandu'

In [ ]:
country.get("Nepal")

'Kathmandu'

## update or add key value pair in dictionary.

In [ ]:
country = {
    "Nepal": "Kathmandu",
    "India": "New Delhi",
    "China": "Beijing"
}

In [ ]:
country['Pakistan'] = 'Islamabad'

In [ ]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'China': 'Beijing',
 'Pakistan': 'Islamabad'}

In [ ]:
country.update({'Bhutan': 'thimpu'})

In [ ]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'China': 'Beijing',
 'Pakistan': 'Islamabad',
 'Bhutan': 'thimpu'}

In [ ]:
country.update({'Bhutan': "Thimpu"})

In [ ]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'China': 'Beijing',
 'Pakistan': 'Islamabad',
 'Bhutan': 'Thimpu'}

# List key and values of a dictionary

In [ ]:
c = {'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'China': 'Beijing',
 'Pakistan': 'Islamabad',
 'Bhutan': 'Thimpu'}

In [ ]:
c.keys()

dict_keys(['Nepal', 'India', 'China', 'Pakistan', 'Bhutan'])

In [ ]:
list(c.keys())

['Nepal', 'India', 'China', 'Pakistan', 'Bhutan']

In [ ]:
c.values()

dict_values(['Kathmandu', 'New Delhi', 'Beijing', 'Islamabad', 'Thimpu'])

In [ ]:
list(c.values())

['Kathmandu', 'New Delhi', 'Beijing', 'Islamabad', 'Thimpu']

# removing key value pair in dictionary

In [ ]:
c = {'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'China': 'Beijing',
 'Pakistan': 'Islamabad',
 'Bhutan': 'Thimpu'}

In [ ]:
c.pop('China')

'Beijing'

In [ ]:
c

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Pakistan': 'Islamabad',
 'Bhutan': 'Thimpu'}

# Looping in Dictionary

In [ ]:
c = {'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'China': 'Beijing',
 'Pakistan': 'Islamabad',
 'Bhutan': 'Thimpu'}

In [ ]:
c.items()      # unpacking of tuple items: key, value

dict_items([('Nepal', 'Kathmandu'), ('India', 'New Delhi'), ('China', 'Beijing'), ('Pakistan', 'Islamabad'), ('Bhutan', 'Thimpu')])

In [ ]:
a, b = (5, 6)
print(a)
print(b)        # key, value.     a and b are keys while 5 and 6 are values. a corresponds to 5 and 6 corresponds to b.

5
6

In [ ]:
for item in c:
    print(item)

Nepal
India
China
Pakistan
Bhutan

In [ ]:
for item in c:
    print(c.get(item))

Kathmandu
New Delhi
Beijing
Islamabad
Thimpu

In [ ]:
for item in c:
    print("The key is {}".format(item))
    
    print("The value is {}".format(c.get(item)))

The key is Nepal
The value is Kathmandu
The key is India
The value is New Delhi
The key is China
The value is Beijing
The key is Pakistan
The value is Islamabad
The key is Bhutan
The value is Thimpu

# Nested Dictionary

In [ ]:
childrens = {
    'child1': {'name': "John", 'age' : 28},
    'child2': {'name': "Andy", 'school': 'boston'},
    'child3': {'name': "Andrew", 'gender':'M'}
}

In [ ]:
childrens['child3']['gender']

'M'

In [ ]:
childrens['child2']['gender']

In [ ]:
childrens.get('child3').get('gender')

'M'

# Functions in Python

In [ ]:
# classic method
a = 20

b = 8

c = a+b

print(c)

28

In [ ]:
# defining function
def add():
    a = 20
    b = 8
    c = a + b
    print(c)

In [ ]:
# calling the function
add()

28

In [ ]:
add()   # i can call the function any number of times i want

28

### some dude sent in the meeting
```
s = "Hsenid"
for i in range(len(s)-1, -1, -1):
    print(s[i])
```

In [ ]:
def add(a,b):   # a , b are arguments given by the user
    c = a + b
    print(c)

In [ ]:
add(7, 3)

10

In [ ]:
add(5, 8)

13

# WAP to add two numbers and square the total sum.

In [ ]:
def add(a, b):
    c = a + b
    return c

In [ ]:
total = add(6, 14)

In [ ]:
total ** 2

400

In [ ]:
def greet(name, msg):
    print("Hello {} , {}".format(name, msg))

In [ ]:
greet("Nirajan", "Good Morning")

Hello Nirajan , Good Morning

In [ ]:
greet("Ram", "Good Morning")

Hello Ram , Good Morning

# Default argument in python

In [ ]:
def greet(name, msg = "Good Morning"):
    print("Hello {} , {}".format(name, msg))

In [ ]:
greet("Nirajan")

Hello Nirajan , Good Morning

In [ ]:
greet("Nirajan", "Good Evening")

Hello Nirajan , Good Evening