In [ ]:
# We use GPU from GOOGLE cloud

# Assignment -3
# Day -3
# Python For Research

# 1. Using the string manipulation technique, Extract the fruit's name from the text.



```
txt = "I Like Orange Apple Banana and Kiwi."
['orange', 'apple', 'Banana', 'Kiwi']
```

In [16]:
txt = 'I Like Orange Apple Banana and Kiwi'
text = txt.lower()        # lowercasing the given string
words = text.split()      # Splitting the words

In [25]:
last_index = len(words)
words

['i', 'like', 'orange', 'apple', 'banana', 'and', 'kiwi']

In [28]:
words[2]      # Extracts third word from the given string
words[3]      # Extracts fourth word from the given string
words[4]      # Extracts fifth word from the given string
words[6]      # Extracts seventh word from the given string

print("[ '{}' , '{}', '{}', '{}' ]".format(words[2], words[3], words[4], words[6]))

[ 'orange' , 'apple', 'banana', 'kiwi' ]

# 2. WAP to count vowels and consonants on the given string.

In [30]:
txt = input("Enter a string: ")
vowels = 0
consonants = 0

for i in txt:
    if i in "aeiouAEIOU":
        vowels += 1
    elif i in "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ":
        consonants += 1

print("Vowels: ", vowels)
print("Consonants: ", consonants)

Enter a string: I like Orange Mango Apple and Kiwi
Vowels:  13
Consonants:  15

# 3. Read a string from the user and print it in the reverse order using the loops and range() function.

In [37]:
# Read a string from the user
string = input("Enter a string: ")

# Print the string in reverse order
for i in range(len(string) - 1, -1, -1):
    print(string[i], end="")

Enter a string: I see you
uoy ees I

# 4. Python Program to display the table of 7.

In [15]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in list:
    print("7 x ", i , " = ", i * 7)

7 x  1  =  7
7 x  2  =  14
7 x  3  =  21
7 x  4  =  28
7 x  5  =  35
7 x  6  =  42
7 x  7  =  49
7 x  8  =  56
7 x  9  =  63
7 x  10  =  70

# 5. Python Program to convert temperature in celsius to Fahrenheit.

In [16]:
celsius = float(input("Enter the temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("The temperature in fahrenheit is: ", fahrenheit)

Enter the temperature in celsius: 37
The temperature in fahrenheit is:  98.6