# Assignment - 4

## Python For Research

# 1. 1. Calculate mean using the range() method
scores = [20, 22, 59, 49, 27, 0, 62, 40, 58, 92, 36, 63, 75, 50, 73, 7, 49, 82, 1, 79]

In [3]:
scores = [20, 22, 59, 49, 27, 0, 62, 40, 58, 92, 36, 63, 75, 50, 73, 7, 49, 82, 1, 79]

# Calculate the mean
mean = sum(scores) / len(scores)

# Print the mean
print(mean)     # The output is 45.15 and the program rounds off the value.

47.2

# 2. Sort the following number in reverse order:

numbers = [9, -5, 0, -12, 12,13,15,1,2,13]

In [2]:
numbers = [9, -5, 0, -12, 12,13,15,1,2,13]
numbers.sort(reverse=True)
print(numbers)    # the function sorts through descending order in reverse.

[15, 13, 13, 12, 9, 2, 1, 0, -5, -12]

# Write a program that stores squares(from 1 to 10)  of numbers in a list.

In [6]:
squares = []
for i in range(1, 11):
    squares.append(i ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 4. WAP to the lowercase item in the given list using list comprehension
fruits = ["APPLE", "BANANA", "MANGO", "ORANGE"]

In [12]:
fruits = ["APPLE", "BANANA", "MANGO", "ORANGE"]

print([x.lower() for x in fruits])

['apple', 'banana', 'mango', 'orange']

# 5. Accept only numbers lower than 5 from -5 to 10. Use If condition on list comprehension.

In [15]:
# list comprehension

numbers = [number for number in range(-5, 10) if number < 5]
print(numbers)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [16]:
# list comprehension with if condition

numbers = [number for number in range(-5, 10) if number < 5 and number > -5]
print(numbers)

[-4, -3, -2, -1, 0, 1, 2, 3, 4]